.container {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.container .imagem{
  width: auto;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-left: 1.5rem;
  justify-content: flex-start;

}

.container .texto{
  width: auto;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;

}
